# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
'Flutter Client Side'/.dart_tool/
'Flutter Client Side'/.flutter-plugins
'Flutter Client Side'/.flutter-plugins-dependencies
'Flutter Client Side'/.packages
'Flutter Client Side'/pub-cache/
'Flutter Client Side'/pub/
'Flutter Client Side'/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
